button {
  font-size: 20px;
  border: 3px solid;
  background-color: rgba(82, 224, 177, 0.199);
  font-family: "Consolas";
  color:  rgb(253, 255, 251);
  border-color:rgb(2, 26, 17);
  

}

label{
 font-family: "Consolas";
 font-size: 20px;
 color:  rgb(209, 241, 179);

}

input {
  border: 2px ridge;
  background-color: white(4, 4, 80);
  font-family: "Consolas";
  font-size: 15px;
  color: rgb(249, 250, 248);

}

p {
  font-family: "Consolas";
  font-size: 20px;
  color: rgb(80, 109, 53);


}

h1 {
  font-family: "Consolas";
  color: rgb(209, 241, 179);
  font-size: 45px;
  width: 40%;
  height: 40%;

}

* {
  background-color: rgb(1, 14, 22);
}
